.for-form {
  width: 550px;
  background: #c0c0c0;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
form {
  background: #c0c0c0;
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  color: #7b7b7b;
  margin-left: auto;
  margin-right: auto;
}
form div {
  margin-bottom: 15px;
}
form label {
  width: 100px;
  text-align:right;
}
form input {
  width: 300px;
  float: right;
}
form textarea {
  width: 300px;
  height: 100px;
  float: right;
}
form button {
  margin: 0 auto;
  display: block;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

